@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8fafd;
  font-family: 'Montserrat', sans-serif;
}

.edit-button,
.delete-button {
  padding: 0.5rem;
  margin-left: 0.25rem;
}

.edit-button:hover,
.edit-button:active,
.delete-button:hover,
.delete-button:active {
  cursor: pointer;
  background-color: #F0F0F0;
  transition: background-color 0.3s;
}

.material-symbols-outlined {
  border-radius: 50%;
  font-size: 1.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.not-found__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.not-found__container span {
  font-family: inherit;
  font-size: 2rem;
  margin-top: 2rem;
}

@media (min-width: 50rem) {
.not-found__container span {
    margin-top: 5rem;
    font-size: 4.5rem;
  }
}
